$red:#f43325;
$brown:#f2f2f2;

.navbar {
  background-color:$red;
}
.form-control{
  margin-top: 5px;
}
::-webkit-input-placeholder {
   text-align: center;
}
ul li{
  float: left;
  width: 23%;
  margin-right: 2%;
  list-style: none;
  img{
    width:400px;
    margin: 5px;
  }
}
.SingleView{
  width: 70%;
  height: auto;
}
.single-image{
  text-align: center;
  background: $brown;
}
.url-position{
  text-align: center;
}
